[Camera]
# specifications of your camera (values in MILLIMITERS)
# NOW LOADED C920/C920-C LOGITECH WEBCAM VALUES (deduced from specifications)
 SensorWidth = 4.99
 SensorHeight = 2.81
 FocalLenght = 3.67

# OVERRIDE the previous values by requesting FOV requirements (app will not try to compute best FOV for you)
# DK1 HFOV is approximately 88
# DK2 VFOV is approximately 84
# Warning: these values will distort the image if this is not the actual FOV of your cameras!
# NOW LOADED C920/C920-C LOGITECH WEBCAM VALUES (measured manually so more reliable)
# HFOV = 86.2
# VFOV = 118

# ICD = ? -- InterCameraDistance: cameras should be positioned at the same IPD set in Oculus Runtime, value is taken from there

# This is a value in MILLISECONDS to compensate delay between WHEN a frame is captured by the camera and grab() gets called.
# Image position will then change depending when the frame was actually captured.
# This value may differ from SO/Camera, but it also is possible to set this up at runtime.
# Set to zero if you want to totally disable camera delay compensation (image plane will always stay steady to your head)
BufferingDelay = 0

# This value (in degrees, 0<=x<90) describes physical cameras YAW or toe-in angle
# The image plane in the scene will be reoriented to match this orientation
CameraToeInAngle = 4		# NOT IMPLEMENTED YET
				# 0 means parallel configuration
				# Please BE PRECISE with toe-in angle. If in doubt,
				# approximate to the nearest lower value.
				# This is because application will help you prevent strabism
				# when adjusting the stereo image!
CameraKeystoningAngle = 4	# NOT IMPLEMENTED YET
				# 0 means parallel configuration
				# This value should be extracted from the previous one,
				# so this will be done in the future.

[Oculus]
# This flag is useful when switching from DK1 to DK2
RotateView = false
# DEPRECATED! ROTATEVIEW IS AUTOMATICALLY DETECTED NOW!

[VideoCalibration]
clippingScaleFactor = 1.0
fovScaleFactor = 1.0
textureOffsetLeftX = 0.0
textureOffsetLeftY = 0.0
textureOffsetRightX = 0.0
textureOffsetRightY = 0.0
textureAspectRatioLeft = 1.0
textureAspectRatioRight = 1.0
textureScaleLeft = 1.0
textureScaleRight = 1.0

