[submodule "libs/OculusSDK"]
	path = libs/OculusSDK
	url = https://github.com/fakkoweb/OculusSDK.git
	branch = master
[submodule "libs/arUco"]
	path = libs/arUco
	url = https://github.com/fakkoweb/arUco.git
